/* section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: all 0.8s ease-out;
  opacity: 0;
  transform: translateY(40px);
} */

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in.show {
  animation: fadeIn 2s ease forwards;
}

.slide-up.show {
  animation: slideUp 2s ease forwards;
}

.zoom-in.show {
  animation: zoomIn 2s ease forwards;
}

.slide-left.show {
  animation: slideLeft 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
